
= form_for @new_event, url: events_path, method: :post do |f|
	Name:
	%br
	= f.text_field :name
	%br
	Description
	%br
	= f.text_area :description
	%br
	Event Date
	%br
	= f.date_field :event_date
	%br
	Event Creator
	%br
	= f.select :user_id, User.all.collect {|u| [u.name, u.id]}
	%br
	=f.submit "create event"

