%br
.row
	.small-9.columns
		%h1
			= @event.name
		
		%h3
			%i
				= @event.description
		%br
		
		= formatted_date(@event.event_date)
		%br

		Hosted by:
		%br
		-if @event.user.name
			= @event.user.name
		%br
		%br
		%ul.button-group
			%li
				=button_to "Edit this event", edit_event_path, method: :get, class: "button tiny" 
			%li
				=button_to "Delete this event", event_path, method: :delete , class: "button tiny"

		%h2 Comments

		%br

		-@event.comments.each do |f|
			-if f.content
				=f.content
				%hr
				%br


			

		

		= form_for @new_comment, url: comments_path, method: :post do |f|
			

			=f.hidden_field :commentable_id, value: @new_comment.commentable_id 
			=f.hidden_field :commentable_type, value: @new_comment.commentable_type
			add comment:
			
			= f.text_area :content

			%br
			Comment Poster
			%br
			= f.select :user_id, User.all.collect {|u| [u.name, u.id]}
			%br
			=f.submit "submit" , class: "button"

		
		

	.small-3.columns
		- @photos.each do |p|
			%a.th{href: "/photos/#{p.id}"}
				=image_tag p.image.url, style: "height:auto; width:auto; max-width:100%; max-height:100%"


