%br
.row
	.small-9.columns
		=image_tag @photo.image.url ,:style => "max-width: 100%"
		%br
		= @photo.name
		%br
		-if @photo.photo_date
			=formatted_date(@photo.photo_date)
		%br
		=@photo.event.name
		%br
	.small-3.columns 
		
		= form_for @new_tag, url: tags_path, method: :post do |f|
			= hidden_field_tag :photo_id, @photo.id
			add tag:
			%br
			= f.text_area :name
			= f.submit "submit"
			%br
		-@photo.tags.each do |f|
			.label
				=f.name
.row
	%h1 Comments
	%br
	-@photo.comments.each do |f|
		=f.content
		%hr
		
		
	%h2 Add a comment:
	= form_for @new_comment, url: comments_path, method: :post do |f|
		=f.hidden_field :commentable_id, value: @new_comment.commentable_id ####
		=f.hidden_field :commentable_type, value: @new_comment.commentable_type ####this is the correct way to get it
		comment:
		%br
		= f.text_area :content
		%br
		Comment Poster
		%br
		= f.select :user_id, User.all.collect {|u| [u.name, u.id]}
		%br
		=f.submit "submit", class: "button"


	