= image_tag @photo.image.url ,:style => "max-width: 100%"
%br
= @photo.name
%br
=@photo.photo_date

%br
=@photo.event.name
%br
tags:
%br


-@photo.tags.each do |f|
	=f.name


%br
%br
Comments
%br
-@photo.comments.each do |f|
	=f.content
	%br
	=f.user_id

	%br
= form_for @new_tag, url: tags_path, method: :post do |f|
	
	= hidden_field_tag :photo_id, @photo.id
	

	tag:
	%br
	= f.text_area :name

	
	=f.submit "submit"


	
Add a comment:
= form_for @new_comment, url: comments_path, method: :post do |f|
	

	=f.hidden_field :commentable_id, value: @new_comment.commentable_id ####
	=f.hidden_field :commentable_type, value: @new_comment.commentable_type ####this is the correct way to get it
	comment:
	%br
	= f.text_area :content

	%br
	Comment Poster
	%br
	= f.select :user_id, User.all.collect {|u| [u.name, u.id]}
	%br
	=f.submit "submit"


	