<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    
    <nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Photo/Events</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="/"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      
      <li class="has-dropdown">
        <a href="#">Menu</a>
        <ul class="dropdown">
          <li><label>Photos</label></li>
          <li><a href="/photos">View Photos</a></li>
          <li><a href="/photos/new">Add Photo</a></li>
          <li><label>Events</label></li>
          <li><a href="/events">View Events</a></li>
          <li><a href="/events/new">Add Event</a></li>
          <li><label>Users</label></li>
          <li><a href="/users/new">Add User</a></li>

        </ul>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="/">Home</a></li>
    </ul>
  </section>
</nav>

  

    <%= yield %>
    <%= javascript_include_tag "application" %>
    <script src="/js/vendor/modernizr.js"></script>
    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/fastclick.js"></script>
  </body>
</html>